<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    
    <display-name>CSD430 Movie Database</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!-- Database context parameters -->
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/CSD430</param-value>
    </context-param>
    
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>student1</param-value>
    </context-param>
    
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>pass</param-value>
    </context-param>
    
    <!-- Session timeout configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>
    
</web-app>