body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    }
    
    h1, h2 {
    color: #333333;
    }
    
    table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
    }
    
    th, td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
    }
    
    th {
    background-color: #dddddd;
    }